body {
    background-color: black;
    color: white;
    text-align: center;
}

li {
    list-style: none;
}

h1 {
    font-size: 5rem;
}

.choices-container {
    display: flex;
    justify-content: space-around;
}

.choices {
    border: white 1px solid;
    box-shadow: 0px 3px 15px rgba(251, 255, 0, 0.486);
    border-radius: 1rem;
    padding: 1rem;
}

.button-container {
    margin: 3rem;
}